.selected {
	color: red;
}

u {
	cursor: pointer;
}

img {
	display: none;
	z-index: 100;
	position:absolute;
}

#test {
	z-index: -1;
}

.div_set {
	position:absolute;
	display: none;
	height: 30px;
	width: 120px;
	border: 2px solid #999;
	background-color: #FFFFFF;
}

.div_note {
	position:absolute;
	width: 200px;
	height: 200px;
	z-index: 100;
	display: none;	
	background-color: #FFFFFF;	
}

.area_note {
	border: 1px solid #999;
	position: relative;
}

.div_note button {
	width: 50px;
	height: 20px;
	text-align: center;
}

.set_* {
	display: inline-block;
}

.high_light {
	background-color: yellow;
}